*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

.header-line{
height: 150px;
width: 100%;
background-color: rgb(63, 154, 116);

}

/* chat-view */

.chat-view{
  width: 80%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 1px 0px 4px 2px rgba(45, 43, 42, 0.77);
}

/* left-part */
.left-part{
  width: 35%;
  height: 100%;
  background-color: red;
}

/* your-id */
.your-id {
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

}
.your-contact{
  height: 100%;
 line-height: 100px;
}
.your-contact img{
  height: 70%;
  border-radius: 50%;
  vertical-align: middle;
}

.your-options{
  display: flex;
}
.your-options i{
  padding-left: 15px;
  line-height: 100px;
  font-size: 20px;
  color: grey;
  font-size: 20px;
  color: grey;
}



/* notifications */
.notifications {
  width: 100%;
  height: 100px;
  background-color: rgb(59, 171, 200);
  display: flex;
  padding-left: 20px;
}

.notifications .bells {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-top: 15px;
}

.notifications .bells i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: rgb(59, 171, 200);
}
.notifications .notify{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.notifications .notify span{
font-size: 16px;
font-weight: 500;
}
.notifications .notify a{
font-size: 14px;
}

/* search */
.search {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  height: 35px;
  width: calc(100% - 10px);
  background-color: white;
  display: flex;
  align-items: center;
}
.search-bar input{
  height: 100%;
 flex-grow: 1;
 border: 0px solid white;
}

/* per togliere bordo blu quando scrivo */
.search-bar input{
 outline: none;
}

.search-bar i{
color: lightgrey;
padding-left: 10px;
padding-right: 10px;
}



/* contact-list */
.contact-list {
  width: 100%;
  height: calc(100% - 250px);
  background-color: green;
}

.contact-list .lista-utenti{
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
height: 100%;
overflow-x: auto;
}


.contact-list ul li {
  list-style: none;
  padding-bottom: 10px;
}

.contact-list ul li img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  vertical-align: middle;
}




/* right-part */
.right-part{
  width: 65%;
  height: 100%;
  /* background-color: blue; */
}


/* right-header */

.right-header{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-data {
    display: flex;
}

.contact-data img{
  height: 70%;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: 15px;
  margin-right: 10px;
}

.contatto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contatto span:last-child{
  font-size: 12px;
  color: grey;
}

.right-header-options{
  display: flex;
}
.right-header-options i{
  padding-left: 15px;
  line-height: 100px;
  font-size: 20px;
  color: grey;
  font-size: 20px;
  color: grey;
}


/* right-main */

.right-main{
  height: calc(100% - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-image: url(../img/mine.jpg);
  background-size: cover;
  filter: grayscale(30%);
}
.messages{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.message-sent{
  width: 200px;
  min-height: 50px;
  background-color: green;
  float: right;
  word-break: break-all;
  border-radius: 5px;
}
.message-received{
  width: 200px;
  min-height: 50px;
  background-color: grey;
  float: left;
  word-break: break-all;
  border-radius: 5px;
}

/* .message-sent::after{
  display: table;
  content:"";
  clear: both;
}
.message-received::after{
  display: table;
  content:"";
  clear: both;
} */

.row::after{
  display: table;
  content:"";
  clear: both;
    margin-bottom: 20px;
}

.messaggio{
  position: relative;
}

.messaggio span{
  font-size: 10px;
  position: absolute;
  top: 75%;
  left: 55%;

}

/* right-footer */
.right-footer{
  width: 100%;
  height: 100px;
  background-color: #e4ddd6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: relative;
}

.smile-menu{
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
  bottom: 120%;
  display: flex;
}
.smile-menu i {
  width: 60px;
  height: 60px;
}

.none{
  display: none;
}
.show{
  display: block;
}
.text {
  flex-grow: 1;
  height: 100%;


}
.text input{
  margin-top: 10px;
  width: 100%;
  height: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

.speak{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
