<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>
<body>

<div class="container">
  <div class="header-line"></div>
  <!-- chat-view -->
  <div class="chat-view" id="chat-view">
    <!-- left-part -->
  <div class="left-part">
    <!-- your-id -->
    <div class="your-id">
      <div class="your-contact"> <img src="img/avatar_1.jpg" alt=""> <span class="your-name">Nome Utente</span></div>
      <div class="your-options">
      <i class="fas fa-circle-notch"></i>
      <i class="fas fa-comment-alt"></i>
      <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
    <!-- notifications -->
    <div class="notifications">
      <div class="bells"><i class="fas fa-bell-slash"></i></div>
      <div class="notify">
          <span>Ricevi notifiche di nuovi messaggi</span>
          <a href="#">Attiva notifiche desktop</a>
      </div>
    </div>
    <!-- search -->
    <div class="search">
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input v-model="personaCercata" v-on:keyup="show" type="text" name="" value="" placeholder="Cerca o inizia a scrivere una chat">
      </div>
    </div>
    <!-- contact-list -->
    <div class="contact-list">

        <ul class="lista-utenti" v-if="personaCercata == ''">
          <li @click="selezionaUtente(index)" v-for='(utente, index) in utenti'>
            <img :src='utente.avatar' alt=""> <span>{{utente.nome}}</span> <span class="last-mex">{{utente.last}}</span>
          </li>
        </ul>

        <ul v-else class="lista-utenti">
          <li @click="selezionaUtente(index)" v-for='(utente, index) in utenti' v-if="utente.nome.includes(personaCercata)">
            <img :src='utente.avatar' alt=""> <span>{{utente.nome}}</span>
          </li>

        </ul>

    </div>
  </div>
  <!-- right-part -->
  <div class="right-part">
    <!-- right-header -->
    <div class="right-header">
      <div class="contact-data">
        <img :src="utenteSelezionato" alt="">
        <div class="contatto">
          <span class="contact-name">{{nomeSelezionato}}</span>
          <span>Ultimo accesso alle ore:</span>
        </div>
      </div>
      <div class="right-header-options">
        <i class="fas fa-search"></i>
        <i class="fas fa-paperclip"></i>
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
    <!-- right-main -->
    <div class="right-main">
      <div class="messages">
        <div v-for="(item, index) in utenti[indice].messaggi" class="row">
          <div class="messaggio" v-if="item.mittente == 'io' && item.testo.includes('fa')" :class="inviato">
            <i :class=item.testo></i>
            <span>{{lastMex}}</span>
            <span class="menu-mex"><i @click="apriMexMenu(index)" class="fas fa-chevron-down"></i>  <div :class="item.menu" class="menu-elimina">elimina <i @click="deleteMessage(index)" class="fas fa-trash"></i></div></span>
          </div>
          <div class="messaggio" v-else-if="item.mittente == 'io'" :class="inviato">
            <p>{{item.testo}} </p>
            <span>{{lastMex}}</span>
            <span class="menu-mex"><i @click="apriMexMenu(index)" class="fas fa-chevron-down"></i>  <div :class="item.menu" class="menu-elimina">elimina <i @click="deleteMessage(index)" class="fas fa-trash"></i></div></span>
          </div>
          <div class="messaggio" v-else-if="item.mittente == 'ricevuto'" :class="ricevuto">
            <p>{{item.testo}}</p>
            <span>{{lastMex}}</span>
            <span @click="apriMexMenu(index)" class="menu-mex"><i class="fas fa-chevron-down"></i>  <div  :class="item.menu" class="menu-elimina ">elimina <i @click="deleteMessage(index)" class="fas fa-trash"></i></div></span>
          </div>
        </div>
        <!-- <div v-for="item in messaggiRicevuti" class="row">
          <div class="message-received">
            {{item}}
          </div>

        </div> -->

      </div>
    </div>
    <!-- .right-footer -->
    <div class="right-footer">
      <div @mouseover="apriSmile" class="smile">
        <i class="far fa-smile"></i>
        <div @mouseleave=" chiudiSmile" :class="classe" class="smile-menu">
          <i  v-for="(smile, indice) in smile" :class="smile" @click='smiles(smile)'></i>
        </div>
      </div>
      <div  class="text"> <input v-model="messaggioUtente" v-on:keyup.13="newMessage" v-on:keyup.40="messageRec" type="text" placeholder="invia un messaggio"></div>
      <div class="speak"><i class="fas fa-microphone"></i></div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript" src="js/script.js">

</script>
</body>
</html>
